services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
  redis:
    image: redis:alpine
    container_name: maple-redis
    ports:
      - "6379:6379"
    volumes:
      - ~/redis-data:/data
    command: redis-server --appendonly yes --requirepass "sixclassguys"
    restart: always